<div class="container m-5">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" routerLink="">Home component</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" routerLink="/student">
        Student component
      </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-danger" routerLink="/teacher">
        Teacher component
      </button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>